body{
  background: #67B26F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

.d3-tip.w:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

svg{
  border: 1px solid black;
  float: left;
  margin-right: 50px;
  background-color: #ecf0f1;
}

.square{
  border: 1px solid black;
  height: 15px;
  width: 15px;
  opacity: .5;
  float: left;
  margin-right: 10px;
}

#red{
  background-color: red;
}

#blue{
  background-color: blue;
}

#colored{
  background-image: linear-gradient(to right, 
    #1f77b4, #ff7f0e, #2ca02c, #9467bd, #bcbd22);
}

#window{
  padding: 100px 0 0 300px;
}

#legenda{
  margin-top: 10px;
}

#legenda p{
  position: relative;
  top: -5px;
}

button{
  position: relative;
  top: 540px;
}